.content {
	margin: auto;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 600px;
	text-align: center;
	border: 1px black;
}

.content p {
	font-size: 16px;
	margin-top: 10px;
}

.content .buttons {
	margin-top: 10px; 
}

.button {
	margin-right: 5px;
	margin-left: 5px;
}
