.form-input {
	width: 45%;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
}
.button {
	margin-top: 10px;
	margin-bottom: 10px;
}
.response-area {
	margin-top: 10px;
	text-align: left;
	padding: 10px;
	background-color: #DEDEDE;
	border-radius: 4px;
}
.response-content {
	margin-top: 10px;
}
