.login {
	padding-right: 10px;
	padding-left: 10px;
}
.login-container {
	margin: auto;
	margin-top: 20px; 
	padding-right: 10px;
	padding-left: 10px;
	max-width: 500px;
	text-align: center;
}

.login-container .form {
	margin-right: 20px;
	margin-left: 20px;
}

.login-container .form .button { 
	margin-top: 10px;
	margin-bottom: 10px;
}
